body {
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
  animation: bg-animation 15s ease infinite;
  background-size: 200%;
}

a {
  color: rgb(162, 0, 255);
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.topnav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(7,7,9,1);
  overflow: hidden;
  position: fixed;
  font-family: "Rubik", sans-serif;
  width: 100%;
  top: 0;
  z-index: 1000;
  
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.topnav a:hover {
  background-color: rgba(0,85,255,1);
}

.topnav a.active {
  background-color: rgba(0,85,255,1);
  color: white; 
}

.topnav-right, .topnav-left {
  align-items: center;
}

.side, .title {
  color: whitesmoke;
  font-family: "Rubik", sans-serif;
  font-size: 5.5rem;
  margin: 0;
  width: 70vw;
}

.side {
  height: 95vh;
  width: 100%;
  /*border-bottom: solid 16px rgba(7,7,9,1);*/

  display: grid;
  place-items: center;

  overflow: hidden;
  position: absolute;
}

.title {
  font-family: "Rubik", sans-serif;
  margin: 0px 15vw;
  /*text-shadow: 0 0 40px rgba(0,85,255,1);*/
}

#background1 {
  background-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgba(4,56,115,1) 91.6% );
  z-index: 2;
  /*border-right: 16px solid rgba(7,7,9,1);
  border-bottom: 16px solid rgba(7,7,9,1);*/
  border-radius: 20px;
}


.bg {
  /*background-image: url('./images/road.jpg');
  background-repeat: no-repeat;
  background-position: center;*/
  height: 250px;
  padding-top: 30vh;
  margin-top: 60vh;
}

.container {
  padding-top: 50px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  text-decoration: underline;
  padding-top: 95vh;
}

/*.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  background-color: #1b1818;
  border-radius: 18px;
  padding: 20px;
  margin: 20px;
}
.content1 {
  flex:1;
  margin-right: 20px;
}
.content1 p {
  padding: 20px;
}
.image img {
  max-width: 100%;
  height: 30vh;
  display: block;
  border-radius: 50%;
}
  */
  .content {  
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;  
    grid-template-areas: 
    "Bio Bio Skills"
    "Bio Bio Skills"; 
    color: whitesmoke;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    
  }
  
  .Bio { 
    grid-area: Bio; 
    padding: 20px;
    margin: 40px;
    z-index: 1;
    position: relative;
    background-color: rgba(27,24,113,1);
    border-radius: 20px;
  }

  .Bio::before {
    content: '';
    position: absolute;
    top: 1em;
    left: 1em;
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 39);
    border-radius: 20px;
    z-index: -1;
  }
  .Bio p {
    margin: 20px;
  }

  .Skills { 
    grid-area: Skills;
  }

  .Skills h2 {
    text-align: center;
    text-decoration: underline;
  }
  .Skills img {
    height: 10vh;
    margin: 20px;
    padding: 5px;
  }

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  text-decoration: underline;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 20px auto;
  max-width: 1200px;
  gap: 20px;
}

.card {
  position: relative;
  width: 500px;
  height: 600px;
  background-color: rgba(7,7,9,1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 15px rgba(27,24,113,1);
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*Images*/
.card1::before {
  background-image: url(images/justanormalconvo.png);
}
.card2::before {
  background-image: url(images/nextlevelintramurals.png);
}
.card3::before {
  background-image: url(images/cityscope.png);
}

.card-content {
  font-family: "Rubik", sans-serif;
  color: white;
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.card-content p {
  margin: 10px 0;
  font-size: 1rem;
}

.card-button {
  display: inline-block;
  padding: 10px 50px;
  margin-top: 10px;
  background-color: rgba(27,24,113,1);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: rgba(0,85,255,1);
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Media queries for responsiveness */
@media (max-width: 1100px) {
  
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "Bio"
    "Skills"; 
  }
  .Skills img {
    height: 10vh;
    margin: 5px;
  }

  .content p {
    margin-top: 10px; 
  }
  .card {
    width: 370px;
  }
  .card-content p {
    font-size: 14px;
  }
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 480px) {

  .topnav-left a {
    font-size: 12px;
    padding: 10px 12px;
  }
 
  .title {
    font-size: 10vw;
  }
  .content p {
    font-size: 1rem;
  }

  .side-img {
    width: 80px;
  }

}
